body {
    margin: 0;
}

nav {
    display: inline-block;
    width: 844px;
    font-family: 'Oxygen', serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #2E2E2E;
    text-align: right;
}

a {
    text-decoration: none;
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
}

h1 {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 50px;
    line-height: 51px;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 82px;
    color: #2E2E2E;
}

h2 {
    font-family: 'Oxygen', serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #2E2E2E;
    opacity: 63%;
    margin-bottom: 113px;
}

footer {
    width: 100%;
    height: 89px;
    background: url("src/img/footer.jpg") no-repeat;
    background-size: 100%;
    background-position-y: center;
}

.up_panel {
    color: #2E2E2E;
    margin: 0;
    width: 100%;
    height: 74px;
}

.panel {
    align-items: center;
    width: 940px;
    margin: 0 auto;
    height: 100%;
}

.icon {
    display: inline-block;
    width: 92px;
    height: 26px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    vertical-align: middle;
}

.escape_black {
    background-image: url(./src/img/Escape_black.svg);
    margin: 24px 0;
}

.escape_white {
    background-image: url(./src/img/Escape_white.svg);
    margin: 31px 0;
}

.link-header {
    padding: 0 10px;
    color: #2E2E2E;
    font-size: 12px;
}

.main-text-img {
    height: 738px;
}

.main-img {
    width: 100%;
    height: 534px;
}

.text {
    width: 960px;
    font-family: 'Oxygen', serif;
    font-size: 24px;
    margin: 140px auto 135px auto;
    color: #101315;
}

.footer div{
    margin: 0 auto;
    width: 940px;
}

.link-footer {
    padding: 21px;
    color: #FFFFFF;
    opacity: 60%;
    font-size: 11px;
}

.footer svg path {
    fill: #FFFFFF;
}